.cover {
  max-width: 1280px;
  min-width: 320px;
  /*padding-top: 245px;
  box-sizing: border-box;
  в вебинаре сказали надо применить к cover-link*/
  margin: 0 auto;
  padding-bottom: 92px;
  box-sizing: border-box;
}
