.lead__caption {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: left;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 978px) {
  .lead__caption {
    margin: 0 auto 0 24px;
  }
}

@media screen and (max-width: 430px) {
  .lead__caption {
    margin: 0 auto 0 16px;
  }
}
